/*font-family: "Maven Pro", sans-serif;*/
* {
  font-family: "Maven Pro", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.container div {
  border: 1px solid #000;
  padding: 10px;
}
